# Linear Regression :

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston
data = load_boston()

In [3]:
data_df = pd.DataFrame(data.data)
data_df.columns = data['feature_names']
data_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
data_df['Price'] = data.target
data_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  Price    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [6]:
# Split the data set :
x = data_df.iloc[:,:-1]
y = data_df.iloc[:,-1]

In [7]:
from sklearn.linear_model import LinearRegression
l_reg = LinearRegression()
from sklearn.model_selection import cross_val_score
c_val = cross_val_score(l_reg, x, y, scoring='neg_mean_squared_error', cv=6)
print(c_val)
print(np.mean(c_val))

[ -10.36313305  -26.90015466  -34.96566108  -15.80739055 -124.27878902
  -22.38768945]
-39.117136301064455

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [55]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [56]:
reg_fit = l_reg.fit(x_train, y_train)
reg_pred = l_reg.predict(x_train)

In [57]:
import sklearn.metrics as mtr
r2_score = mtr.r2_score(y_train , reg_pred)
print(r2_score*100,'%')

73.51176086917928 %

# Ridge Regressor :

In [43]:
# In prder to overcome the overfitting we used Ridge and lasso algorithm :
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
ridge_m = Ridge()
params = {'alpha':[1e-15, 1e-13, 1e-11, 1e-10, 1e-7, 1e-5, 1e-3, 1e-2, 1, 2, 5, 10, 20, 23, 34, 39, 43, 50, 60, 100]}
g_ser = GridSearchCV(ridge_m, params, scoring = 'neg_mean_squared_error', cv=6) 
g_ser.fit(x,y)

GridSearchCV(cv=6, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-13, 1e-11, 1e-10, 1e-07, 1e-05,
                                   0.001, 0.01, 1, 2, 5, 10, 20, 23, 34, 39, 43,
                                   50, 60, 100]},
             scoring='neg_mean_squared_error')

In [44]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [62]:
ridge_fit = ridge_m.fit(x_train , y_train)
ridge_pred = ridge_m.predict(x_test)

In [63]:
# model accuracy :
r2_score1 = mtr.r2_score(y_test , ridge_pred)
print(r2_score1*100,'%')

73.944768758949 %

In [47]:
print(g_ser.best_params_)
print(g_ser.best_score_)

{'alpha': 100}
-31.149689466820274

# Lasso Regressor :

In [48]:
# In prder to overcome the overfitting we used Ridge and lasso algorithm :
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
lasso_m = Lasso()
params = {'alpha':[1e-15, 1e-13, 1e-11, 1e-10, 1e-7, 1e-5, 1e-3, 1e-2, 1, 2, 5, 10, 20, 23, 34, 39, 43, 50, 60, 100]}
g_ser = GridSearchCV(lasso_m, params, scoring = 'neg_mean_squared_error', cv=5) 
g_ser.fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4430.746729651311, tolerance: 3.9191485420792076
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4397.459304778431, tolerance: 3.3071316790123455
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3796.653037433508, tolerance: 2.813643886419753
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2564.292735790545, tolerance: 3.3071762123456794
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4294.252997826028, tolerance: 3.4809104444444445
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 506.12424866026277, tolerance: 3.3071762123456794
  model = cd_fast.enet_coordinate_descent(

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [1e-15, 1e-13, 1e-11, 1e-10, 1e-07, 1e-05,
                                   0.001, 0.01, 1, 2, 5, 10, 20, 23, 34, 39, 43,
                                   50, 60, 100]},
             scoring='neg_mean_squared_error')

In [58]:
print(g_ser.best_params_)
print(g_ser.best_score_)

{'alpha': 1}
-35.531580220694856

In [59]:
lasso_fit = lasso_m.fit(x_train , y_train)
lasso_pred = lasso_m.predict(x_test)

In [60]:
# model accuracy :
r2_score1 = mtr.r2_score(y_test , lasso_pred)
print(r2_score1*100,'%')

67.32113173046538 %